* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    /* background-color: black; */
    width: 100%;
    color: White;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    z-index: 10;
}

#nav-items {
    margin-left: 20px;
}

#company-name {
    margin-right: 20px;
    font-weight: bolder;
    font-size: 25px;
}

#nav-items, #company-name {
    padding: 15px;
}

ol {
    display: flex;
} 

li {
    display: inline-block;
}

a {
    margin: 10px;
    padding: 15px;
    color: white;
    /* color: rgb(11, 11, 128);; */
    text-decoration: none;
    text-align: center;
    /* color: blue; */
    font-size: 18px;
    font-weight: bolder;
}

a:hover {
    background-color: white;
    /* background-color: rgb(157, 222, 244); */
    /* color: black; */
    color: rgb(11, 11, 128);
}  


/* hero section css */

#hero-section img {
    height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-text {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    word-spacing: 7px;
}

#welcome-text h2 {
    margin: 20px;
    font-size: 50px;
    color: cornflowerblue;
}

#welcome-text h1 {
    margin: 20px;
    font-size: 40px;
    color: cornflowerblue;
}

#welcome-text h4 {
    font-size: 20px;
}



/* main content css */

#main-content {
    height: auto;
    /* height: 400px; */
    width: 100%;
    background-color: white;
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #ccdef7 100%); */
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    display: flex;
    padding: 30px;
    justify-content: space-around
}

#box-1 {
    /* border: 2px solid rgb(165, 169, 244); */
    border: 2px solid lightblue;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;

}

#Vally-image img {
    border-radius: 10px;
    /* height: auto; */
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
} 

#box-1-content span, p, button{
    margin: 10Px;
}

#box-1-content {
    display: flex;
    flex-direction: column;
}

#box-1-content span {
    text-align: center;
    font-size: large;
    color: rgb(11, 11, 128);
    font-weight: bolder;
}

#box-1-content p{
    text-align: justify;
}

#box-1-content button{
    padding: 6px;
    background-color: lightblue;
    border-radius: 5px;
    border: none;
    color: rgb(11, 11, 128);
}

#box-1-content button:hover{
    background-color: rgb(157, 222, 244);
    color: rgb(11, 11, 128);
    cursor: pointer;
    /* font-weight: bolder; */
}




/* footer section css */

footer {
    padding: 30px;
    display: flex;
    flex-direction: column; 
    background-color: white;
    justify-content: center;
    align-items: center;
}

.logos {
    margin: 10px;
}

footer p {
    color: rgb(11, 11, 128);
    word-spacing: 5px;
}

footer .logos {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

footer img {
    height: 50px;
    width: 50px;
}