* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

.search {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(121, 156, 217);
}

.search-conatainer {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}


/* this was not woking*/
/* .search-container .info-card { */
.info-card { 
    background-color: white;
    min-height: 5rem;  
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgba(255, 107, 107, 0.3);
     border-radius:5px;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
}

.info-card:hover {
     border: 2px solid rgba(247, 92, 92, 0.3);
}

.info-card label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.info-card input {
    border: 1px solid rgba(255, 107, 107, 0.3);
    border-radius:5px;
    height: 1.9rem;
}

button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}




/* card content  */

.result-1 {
    
}