* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

header {
    width: 100%;
    height: 100%;
    height: 80vh;
    background-image: url(https://images.unsplash.com/photo-1761839258575-038fef381ee7?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8);
    background-position: center center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    header {
        background-image: url(https://images.unsplash.com/photo-1761839258575-038fef381ee7?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8);
        background-position: center center;
        object-fit: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#text h1, h2{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


main{
    width:100%;
    min-height: 200px;

    background-color: aqua;
    padding: 30px;
    position: relative;
    
}

main #form-container{
    max-width: 70%;
    height: auto;
    min-width: 300px;
    background-color: rgb(41, 238, 84);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
}

.mb-3, button {
    margin: 10px;
}

.mb-3 input {
    width: 100%;
    height: 20px;
}
