* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main-content {
    padding: 20%;
     width: 100%;
    height: 100%;
     /* background-color: linear-gradient(90deg,rgba(237, 255, 232, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 246, 163, 1) 100%); */
    background: #edffe8;
    background: linear-gradient(90deg,rgba(237, 255, 232, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 246, 163, 1) 100%);
}

#part-1 {
    padding: 10%;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

#bio {
    border: 2px solid black;
}

#pic-name {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    gap: 5%;
    font-weight: bolder;
    word-spacing: 3px;
    font-size: 18px;    
}

#pic-name img {
    height: 80%;
    width: 80%;
    border: 2px solid rgb(23, 23, 167);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

#pic-name h3 {
    text-align: center
    
    ;
}

#bio p{
    text-align: justify;
    padding: 50px;
    font-size: 1em;
    word-spacing: 5px;
}