* {
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


body {
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;

}

#heading {
    margin: 20px;
    margin-bottom: 5px;
}

#heading h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(11, 11, 170);
}

#container {
    width: 500px;
    height: 620px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 2px 2px #fdfdfd;
    display: flex;
    flex-direction: column;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form input {
    height: 30px;
}

form input {
    padding: 3px;
    margin-top: 4px;
    margin-bottom: 14px;
    border: 0.5px solid gray;
    border-radius: 6px;
}


form textarea {
    padding: 3px;
    margin-top: 4px;
    margin-bottom: 14px;
    border: 0.5px solid gray;
    border-radius: 6px;
}

#choose-gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 3px;
}

#Male, #Female, #Others {
    margin: auto auto;
}

textarea {
    resize: none;
}

#Photo-upload {
    height: 40px;
    padding: 6px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
    
}  

#save, #reset, #submit {
    height: 35px;
    width: 90px;
    border-radius: 6px;
    margin: 20px;
    cursor: pointer;
    color: white;
    border: none;
    font-weight: bolder;
    box-shadow: 0px 0px 11px 1px #dbdbdb;
}

#save {
    background-color: lightgreen;
}

#reset {
    background-color: rgb(233, 97, 95);
}

#submit {
    background-color: rgb(107, 107, 251);
}

#save:hover {
    background-color: rgb(118, 219, 118);
}
#reset:hover {
     background-color: rgb(219, 73, 73);
}
#submit:hover {
    background-color: rgb(82, 82, 220);
}

