* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    /* 1 rem = 16px */
    font-size: 1rem; 
}

header {
    height: 20vh;
     min-width: 360px;
    width: 100vw;
    background: #030a0d;
    background: linear-gradient(90deg,rgba(3, 10, 13, 1) 0%, rgba(255, 223, 61, 0.9) 50%, rgba(107, 0, 107, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: bolder;
}

#content-part-1 {
    min-width: 360px;
    width: 100vw;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    background: #fce8fc;
    background: linear-gradient(90deg,rgba(252, 232, 252, 0.89) 0%, rgba(227, 255, 224, 0.9) 50%, rgba(237, 229, 185, 0.9) 100%);
}

#content-part-1 button{
    padding: 10px;
    background-color: rgb(245, 147, 147);
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 10px 20px;
    border: none;
    color: white;
}

#content-part-1 button:hover {
    background-color: rgb(214, 82, 82);
    color: #2E2282;
    border: 1px solid #2E2282;
}

@media screen and (max-width: 600px) {
    header h1{
        font-size: 1.7rem;
    }
    #content-part-1 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px) {
    header h1{
        font-size: 1.2rem;
    }
}






#content-part-2 {
    min-width: 360px;
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background: #ffd1ab;
    background: linear-gradient(90deg,rgba(255, 209, 171, 0.89) 0%, rgba(250, 237, 237, 0.9) 50%, rgba(240, 255, 199, 0.9) 100%);
}

.box-1 {
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    min-width: 300px;
    max-width: 300px; 
    background-color: white;
}


.card-top {
    word-spacing: 10px;
    background-color: #2E2282;
    color: white;
    text-transform: uppercase;
    padding: 40px;

}

.card-top h1 {
    text-align: center;
}

.card-bottom {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-bottom p {
    text-align: justify;
    font-size: 1.1rem;
}

.card-bottom a {
    text-align: center;
    margin: 10px;
    padding: 8px;
    background-color: rgb(245, 147, 147);
    font-size: rem;
    border-radius: 10px;
    text-decoration: none;
}

.card-bottom a:hover {
    background-color: rgb(232, 113, 113);
    color: #2E2282;
    font-weight: bold;
    border: 1px solid #2E2282;
}

@media screen and (max-width: 1110px) {
    #content-part-2 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 410px) {
    .box-1 {
        min-width: 260px;
        max-width: 260px; 
    }
}

@media screen and (max-width: 360px) {
    .content-part-2 {
        flex-shrink: 0;
    }
}
