* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}









.logo {
    position: absolute;
    left: 20px;
    width: 100px;
    cursor: pointer;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: bisque;
    text-decoration: none;
    
}
header{
    background-color: #002423;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // box-shadow: 2px 2px 10px black;
}
header:hover{
    // box-shadow: 2px 2px 25px black;
    transition: 0.5s;
}
.navlinks li{
    display: inline-block;
    margin: 30px;
    align-items: center;
}
.navlinks li a:hover{
    color: tomato;
    text-shadow: 1px 1px 5px black;
}

button{
    width: 100%;
    padding: 12px;
    background-color: firebrick;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s, ease 0s;
    border: none;
    z-index: 999;
}
button:hover{
    box-shadow: 1px 1px 5px black;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: #ff6b6b;
    // background-color: transparent;
    // backdrop-filter: blur(10px);
    // box-shadow: -3px 0 10px black;
    display: none;
    justify-content: flex-start;
    list-style: none;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}
.sidebar li{
    width: 100%;
    margin: 25px;
    text-shadow: 1px 1px 2px black;
    
}
.sidebar img{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 120px;
}
nav ion-icon{
    font-size: 2em;
    position: absolute;
    top: 35px;
    right: 20px;
}
h2{ 
    color: wheat;
    text-shadow: #002423 -2px 2px 10px;
    font-size: 2em;
    margin: 20%;
    text-align: center;
}
@media only screen and (min-width: 830px){
    .navlinks ion-icon{
        display: none;
        
    }
}
@media only screen and (max-width: 830px){
    .navlinks .items{
        display: none;
    }
}











.search {
    margin-top: 50px;
    width: 100%;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(223, 231, 245);
    // text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    // justify-content: center;
    // align-items: center;
}

.search-conatainer {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    min-width: 250px;
    height: fit-content;
}


/* this was not woking*/
/* .search-container .info-card { */
.info-card { 
    background-color: white;
    min-height: 5rem;  
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgba(255, 107, 107, 0.3);
     border-radius:5px;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
}

.info-card:hover {
     border: 2px solid rgba(247, 92, 92, 0.3);
}

.info-card label {
    padding: 4px;
    margin: 3px;
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.2rem;
    border-bottom:solid 1px #ff6b6b;
    border-top:solid 1px rgb(72, 209, 27);
    border-left:solid 1px #ff6b6b;
    border-right:solid 1px rgb(72, 209, 27);
}

.info-card input {
    border: 1px solid rgba(255, 107, 107, 0.3);
    border-radius:5px;
    height: 1.9rem;
}

button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}




/* card content  */
/*  */

.result-1 {
    transition: transform 0.3s ease;
}

.search-result {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    // grid-template-rows:    repeat(2, minmax(250px, 1fr)); ;
    width: 100%;
    gap: 15px;

    .result-1 {
        background-color: bisque;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        // transition: transform 0.3s ease;

        .image img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-bottom: 1px solid red;
        }

        .text-content {
            display: flex;
            flex-direction: column;
            gap: 5px;
            text-align: center;

            .text {
                margin-bottom: 5px;
            }

            .text h3{
                gap: 5px;
            }

            .text-button {
                display: flex;
                align-items: flex-start;
                gap: 5px;
                margin-left: 10px;
                margin-bottom: 5px;
                transition: transform 0.3s ease;
                // transition: transform 0.3s;

                #view-profile {
                    border: 1px solid #ff6b6b;
                    background-color: white;
                    color: #ff6b6b;

                    &:hover {
                        border: none;
                        color: white;
                        background-color: #ff6b6b;
                        transition: smooth;
                        transform: translate(5px);
                    }
                }



                // #conenct {
                    
                // }
            }

        }

    }
}


.result-1 {
    transition: transform 0.3s ease;
}

.result-1:hover {
    transform: translateY(-10px);
}

@media screen and (max-width: 891px) {
    .search {
        width: 100%;
        // padding-left:auto ;
        // padding-right: auto;
        // padding-top: 2rem;
        // padding-bottom: 2rem;
        padding:20px;
    }
    .container {
        flex-direction: column;
    }
}


@media screen and (max-width: 585px) {
    .search {
        width: 100%;
        // padding-left:auto ;
        // padding-right: auto;
        // padding-top: 2rem;
        // padding-bottom: 2rem;
        padding:20px;
    }
    .container {
        flex-direction: column;
    }
}

@mixin flex-row-property {
    display: flex;
    justify-content: center;
    align-items: center;
}
