* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* ===== HEADER ===== */
header {
    width: 100%;
    height: 10vh;
    background-color: rgb(244, 88, 119);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: white;
}

/* ===== COMPANY NAME ===== */
.company-name {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* ===== NAV LINKS ===== */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
}

/* ===== MENU ICONS ===== */
#menu-open,
#menu-close {
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}

/* ===== DESKTOP VIEW ===== */
@media screen and (min-width: 768px) {
    .nav-links {
        display: flex;
        position: static;
        background: none;
        flex-direction: row;
    }

    #menu-open,
    #menu-close {
        display: none;
    }
}

/* ===== MOBILE VIEW ===== */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: aquamarine;
        flex-direction: column;
        padding: 20px 0;
        text-align: center;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .nav-links li a {
        color: black;
        font-weight: bold;
    }

    #menu-open {
        display: block;
    }

    /* when menu is active (JS will add this class) */
    .nav-links.active {
        display: flex;
    }
}
